.w-main-page {
    width: 100%;
    max-width: 768px;
}
H3, h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}
H2, h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
H1, h1{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}
p{
    font-size: 14px;
}
.main-height {
    min-height: calc(100vh - 80px);
}