@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Roboto Mono", serif;
  color: #383131;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  outline: none;
}
:focus {
  outline: none;
}
p, span {
  color: #8e8d8d;
}
b {
  color: black;
}
